* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #ffffff;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0a0a0a;
    color: #ffffff;
}

/* Cabeçalho */
header {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navegação */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

nav ul li a.active {
    color: #0077ff;
}

/* Seção principal */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    flex-wrap: wrap;
    gap: 40px;
}

/* Pagina Principal */
.intro .text {
    max-width: 600px;
}

.intro .hello {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.intro h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* Fonte do Nome */
.font-name {
    color: #0077ff;
    font-weight: bold;
}

/* Descrição */
.description {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: justify;
}

/* Organizador de Linhas/Colunas */
.organize {
    align-items: center;
    justify-items: center;
    display: flex;
    gap: 30px;
    padding: 0.1%;
}

.organize-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Botões */
.btn {
    display: inline-block;
    background-color: #0077ff;
    color: white;
    padding: 12px 24px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
}

/* Imagem */
.profile img {
    width: 86%;
    border-radius: 25px;
}

/* Rodapé */
footer {
    background-color: #0077ff;
    color: #9ca3af;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}